/* github.com/dozyhermit */
/* bulma css framework by jeremy thomas (github.com/jgthms | bulma.io) */

/* input select  */
.input:focus,
.textarea:focus,
input[type]:focus,
.button:focus {
  border: 1px solid #4a4a4a;
  outline: none !important;
}

.button:focus,
.pagination-next:active,
.pagination-previous:active,
.pagination-link:active {
  border-color: #4a4a4a;
  box-shadow: 0 0 0 #4a4a4a;
}

.input,
.textarea {
  padding-top: 6px;
  padding-left: 10px;
}

/* header / hero top */
.header-wrapper {
  padding-bottom: 30px;
}

.hero-top {
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  box-shadow: 0 2px 3px #000;
}

/* header titles */
.header .title,
.header .subtitle {
  color: whitesmoke;
}

/* hero */
.hero {
  background-color: transparent;
}

/* navigation */
.nav {
  background-color: transparent;
}

.nav a {
  color: whitesmoke;
}

a.nav-item:hover,
a.nav-item:active,
a.nav-item:link,
a.nav-item:visited {
  color: whitesmoke;
}

/* main content */
.main-content {
  padding-top: 2rem;
}

/* box */
.box {
  padding: 30px;
}

/* content-header */
.content-header {
  padding-bottom: 10px;
}

.content-header .subtitle {
  color: #9a9a9a;
}

/* pagination */
.pagination-link.is-current,
.pagination-next,
.pagination-previous {
  border: 1px solid #dbdbdb;
  background-color: white;
  color: #000;
}

/* icon */
.icon .fa {
  font-size: 1.5em;
}

.icon {
  padding: 15px;
}

/* post */
.post {
  padding-bottom: 50px;
}

.post a {
  color: #000;
}

/* footer */
.footer {
  margin-top: 2rem;
}

.footer p a {
  color: #4a4a4a;
}

.footer p a:hover {
  color: #000;
}

.footer a.nav-item:hover {
  color: #000;
}

.footer a.nav-item {
  color: #9a9a9a;
}
