/* github.com/dozyhermit */
/* bulma css framework by jeremy thomas (github.com/jgthms | bulma.io) */

/* basic formatting changes */

a {
  color: grey;
}

.main-content {
  padding-top: 2.5rem;
}

.content p,
.header-content,
.footer,
.nav-header,
.input,
.textarea,
.nav-footer p {
  font-family: "Crimson Text", serif;
}

.button:focus {
  border-color: #4a4a4a;
  box-shadow: 0 0 0 #4a4a4a;
}

.menu-label:not(:first-child) {
  margin-top: 0;
}

.content p {
  font-size: 1.1em;
}

.header-content small {
  font-size: 1em;
}

.header-content {
  padding-bottom: 20px;
}

.header-content img {
  padding-bottom: 20px;
}

.post-wrapper {
  padding-bottom: 50px;
}

.has-padding {
  padding-bottom: 51px;
}

.footer {
  margin-top: 2rem;
}
